@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
  margin: 0;
}
li{
  list-style: none;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size:17px;
  line-height: 1.7; 
}

.section-container  {
  margin: 70px 20px 10px 20px;
}
.section-container p{
  font-family: 'JetBrains Mono', monospace;
  font-size: 19px;
  margin-bottom: 10px;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .section-container  {
    text-align: center;
    margin:20px;
    
  }
    .section-container .titles{
    font-size: 14px;
    font-weight: lighter;
  }
  .section-container p{
    margin-bottom: 0px;
    margin-top: 0px;

    text-align: center;
  }
}