@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
  }
  .section-container {
    height: fit-content;
    margin: 50px 20px 30px 20px;
    padding: 0; 
    text-align: center;
  }

  .section-container p{
    font-family: 'JetBrains Mono', monospace;  
    font-size: 12px;
    font-weight: lighter;
    color: #000000;
    text-align:center;

  }
@media only screen and (max-width: 767px) {
  p{  
      font-size: 10;
      margin: 0px;
    }
}  