@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    border:1px solid rgba(254, 0, 0, 0)
  }
  .section-container {
    height: fit-content;
    margin: 30px 0px 30px 0px;
    padding: 0; 
    text-align: center;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .section-title h2{
    font-family: 'JetBrains Mono', monospace;  
    font-size: 30px;
    color: #b68cff;
    text-align: center;
  }