@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
  margin: 0;
}
.section-container {
    height: fit-content;
    border-radius: 5px;
    padding: 0; 
    justify-content: center;
    margin: 20px 10px 20px 10px;
}
.section-about{
  width: 90%;
  display : flex;
  justify-content: space-evenly;
  align-content: center;
  margin-right: 30px;
  margin-bottom: 40px;
  
}  


.section-title{
  margin: 30px 30px 30px 30px;
}
.section-title h2{  
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin: 20px 0px 20px 0px;
  font-family: 'JetBrains Mono', monospace;
  font-weight:bold;
}
p{
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size:17px;
  text-align: center;
  line-height: 1.7; 
  margin-top: 20px;

}
.gisela-image{
  float:left; 
}
.gi-image{
  margin-top: 20%;
  margin-left: 40px;
  width:300px;
}
.info{
  margin: -100px 0px 80px 30px;
}

 /* Media query para dispositivos con un ancho máximo de 767 píxeles (por ejemplo, teléfonos móviles) */
 @media only screen and (max-width: 767px) {
  .section-about {
    flex-direction: column-reverse; /* Change the flex direction to column-reverse to place the image above */
    align-items: center; /* Centra los elementos en el eje transversal */
    margin: 0px;
  }
  .section-title{
    margin: 30px 30px 0px 30px;
  }

  .gi-image{
    margin-top: 0px;
    margin-left: 0px;
    width:250px;
  }
  .info{
    margin: 0px 0px 40px 0px;
  }
  .section-container p{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .section-about{
    width: 100%;
    display : flex;
    justify-content: space-evenly;
    align-content: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }  

  .section-title h2{  
    text-align: center;
    margin: 10px 0px 0px 0px;
    padding: 0px;
  }

  .gisela-image{
    float:none; 
  }

}