<div class="section-container">
    <div class="section-about">
        <div class="section-title">
            <h2>ABOUT</h2>            
            <p>
                I'm a passionate full-stack developer with a specialization in backend development. 
                <br>
                <br>
                My approach to work revolves around adopting agile methodologies, allowing me to creatively address challenges in collaborative team environments. 
                <br>
                <br>
                Beyond backend development, I'm enthusiastic about exploring new technologies and areas, and contributing to innovative projects
            </p>            
        </div>
            <div class="gisela-img">
                <img src="./assets/img/imgGi.png" alt="photo" class="gi-image"> 
            </div>
    </div>                                    
        <div class="info">            
            <app-education/>
            <app-certifications/>
            <app-experience/>
            <app-resume/> 
        </div>

</div>