<div class="section-container">
    <div class="section-title">
        <h2>ABOUT</h2>
    </div>    
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."<br>
            "No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el dolor."
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et odio massa. Pellentesque quis viverra justo, sed faucibus tellus. Mauris scelerisque justo eget nulla consequat ultrices. Vestibulum ex eros, blandit ut ornare eu, egestas a nulla. Nam finibus ornare accumsan. <br>Nullam sed ipsum massa. Maecenas non condimentum augue. Integer blandit tempus tortor nec commodo. Aliquam ac tempor massa. Proin quis massa ac ex fermentum vestibulum. Proin neque enim, eleifend eget diam rutrum, cursus finibus enim. Integer imperdiet augue eget odio ultricies laoreet.                                   
        <div class="info">
            <app-education/>
            <app-experience/>
            <app-resume/> 
        </div>

</div>