@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
  margin: 0;
}
ul{
  margin-top: 10px;
}
li{
  list-style: none;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size:17px;
  line-height: 1.7; 
}

.section-container  {
  margin: 20px 20px 10px 20px;
}
.section-container p{
  font-size: 19px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: normal;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .section-container  {
    text-align: center;
    margin:20px 0px 0px 0px;
  }
  ul{
    margin:8px 0px 0px 0px;
    font-size: 14px;
    width: fit-content;
  }

  .section-container p{  
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    margin:0px;
  }
  li{
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;    
    font-size: 12px;
    line-height: 1.7; 
    margin: 0px;
  }
}