p{
    font-family: 'JetBrains Mono', monospace;
    font-size: 19px;
    margin-bottom: 20px;
    color: #b68cff;
}

@media only screen and (max-width: 767px) {

    p{
  
      text-align: center;
    }
  }