*{
  margin: 0;
}
.section-container{
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  height: fit-content;
}

 h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.description{
  font-family: 'Roboto', sans-serif;
  font-weight:lighter;
  font-size:17px;
  line-height: 1.7; 
  margin:20px 40px;


}

@media only screen and (max-width: 767px) {

  .section-title h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
    .description{
      font-size: 14px;
      margin:0px 0px 0px 0px;
      text-align: center;
    
    }

  }