<div class="section-container">
    <p class="title">EXPERIENCE</p>
    <p class="description">
        With over two years of experience in software development, I have worked on a variety of projects both independently and collaboratively in teams. 
        <br>
        <br>
        As a backend developer, I have been involved in projects spanning different architectures, from monolithic applications to microservices, specializing in Java with Spring Boot. I have applied best practices in software development and have experience in application security using technologies like Spring Security, OAuth2, JWT, and Keycloak.
        <br>
        <br>
        Additionally, I have acquired skills in unit and integration testing, as well as infrastructure management with Docker for secure application deployment. 
        <br>
        <br>
        In frontend development, I have worked with JavaScript and React to create interactive interfaces. 
        <br>
        <br>
        I am currently expanding my skills with Golang for backend, and with Angular and TypeScript to stay up-to-date with emerging technological trends in frontend development.
    </p>
</div>