@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
  margin: 0;

}
.section-container {
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  display: inline;
  font-size: 15px;
  font-family: 'JetBrains Mono', monospace;
}
.section-title h2{
  font-family: 'JetBrains Mono', monospace;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}

/* projects.component.css */
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px; /* Agrega un pequeño relleno para evitar que las tarjetas lleguen al borde del contenedor */
  list-style: none;
}

.project-item {
  position: relative;
  padding: 0px 0px 10px 0px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.315);;
  height: fit-content;
  width: 250px;
  margin-right: 10px; /* Ajusta según tus necesidades */
  margin-bottom: 17px;
  text-align: center;
  overflow: hidden;

}

.project-description {
  box-sizing: border-box; 
  width: 100%;
  padding: 0px 5px 0px 5px;
  height: 150px;
  margin-top:-10px;
}
.project-description p{
  word-wrap: break-word;
  font-size: 12px;
}


p {
  display: inline;
  width: 220px;
  font-family: 'JetBrains Mono', monospace;
  font-weight:lighter;
  font-size: 14px;
}

.project-tag {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 1; /* Asegura que la etiqueta esté encima de la imagen */
}

.project-tag h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1px 0px 1px 50px;
  font-size: 12px;
}

img {
  width: 101%;
  height: 101%;
  margin:-2px;
  border-radius: 3% 3% 0% 0%;
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-links a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  color: #57439a;
  position: relative;
  animation: neon 1.5s ease-in-out infinite alternate; /* Definir la animación */
}

.project-links a:before {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #57439a;
}

@keyframes neon {
  from {
    color: #57439a; /* Color inicial del texto */
  }
  to {
    color: rgba(64, 50, 110, 0.153)/* Color al que se cambiará el texto */
  }
}
 

.project-links a + a {
  margin-left: 30px;
}

.project-links a {
  text-decoration: none !important;
}

/* Cambiar color de la barra de desplazamiento en WebKit */
.horizontal-scroll-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 10px;/* alto de la barra de desplazamiento */
  cursor: pointer; 

}

.horizontal-scroll-container::-webkit-scrollbar-thumb {
  background-color:rgba(57, 47, 65, 0.627); /* Color de la barra de desplazamiento */
  border-radius: 3px; /* Bordes redondeados */
}

/* Cambiar color de la barra de desplazamiento en Mozilla Firefox */
.horizontal-scroll-container::-moz-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  height: 12px;/* alto de la barra de desplazamiento */
}

.horizontal-scroll-container::-moz-scrollbar-thumb {
  background-color: #3498db; /* Color de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */  
}


@media only screen and (max-width: 767px) {

  .section-title h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 17px;
    font-weight: lighter;
  }
  .section-container {
    margin: 0px ;

  }
}