
<div class="section-container">
    <div class="section-title">
        <!-- <h2>CONTACT</h2> -->
    </div>
    <div class="contact-content">
        <div class="my-data">
            <ul>
                <li class="phrase">"Let's connect and explore how we can collaborate to turn visions into reality. Don't hesitate to reach out - the first step to success is just a message away!"</li>
                <!-- <br><br>
                <li><strong>Based in Argentina</strong></li>
                <li><strong>gisela.urriza&#64;gmail.com</strong> </li> -->
            </ul>
        </div>
    <!--        <div class="contact-form">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="fullName">Full Name:</label>
                    <input type="text" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="linkedin">LinkedIn:</label>
                    <input type="text" id="linkedin" name="linkedin">
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea id="comment" name="comment" rows="4" required></textarea>
                </div>
                <div class="submit-button">
                    <button type="submit">Send</button>
                </div>
            </form> 
        </div>-->
    </div>
</div>

