.skills-icons {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    justify-content: center;
    align-items: center;
}

.skills-icons a {
    margin: 0 8px;
    box-sizing: border-box; 
}

.skills-icons img {
    max-width: 100%; 
}
.skills-icons img{
    width:60px;
    margin:30px 5px 30px 0px;
}
.section-container {
    height: fit-content;
    border-radius: 30px;
    padding: 0; 
    justify-content: center;
    margin: 20px 10px 20px 10px;
    box-shadow: rgba(179, 110, 194, 0.25) 0px 25px 50px -12px;


  }
  .section-title{
    margin-bottom: 10px;
}
  .section-title h2{  
    font-size: 24px;
    color: #b68cff;
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-family: 'JetBrains Mono', monospace;
}

@media only screen and (max-width: 767px) {
    .skills-icons img{
        width:50px;

    }

}