.skills-icons {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    justify-content: center;
    align-items: center;
}

.skills-icons a {
    margin: 0 8px;
    box-sizing: border-box; 
}

.skills-icons img {
    max-width: 100%; 
}
.skills-icons img{
    width:60px;
    margin:30px 5px 30px 0px;
}
.section-container {
    height: fit-content;
    border-radius: 5px;
    padding: 0; 
    justify-content: center;
    margin: 20px 10px 20px 10px;

  }
  .section-title h2{
    font-family: 'JetBrains Mono', monospace;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}



@media only screen and (max-width: 767px) {
    .skills-icons img{
        width:50px;

    }

}