iframe{
    border-radius: 20px;
    box-shadow: rgba(179, 110, 194, 0.25) 0px 25px 50px -12px;
    width: 99%;
}
p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(180, 180, 240);
}