p{
    font-family: 'JetBrains Mono', monospace;
    font-size: 19px;
    margin-bottom: 20px;
    color: #000000;
}
div button{
  border-radius: 15px;
  color: #000000;
  border: 0.3px solid black;
  width: 150px;
  height: 25px;
  background-color: white;  

}
.container{
  margin-top: 20px;
}
a{
  font-family: 'JetBrains Mono', monospace;
  color: #57439a;
  font-size: 15px;
  font-weight: lighter;

}

@media only screen and (max-width: 767px) {

    p{
        text-align: center;
        font-size: 14px;
        font-weight: lighter;
    }
    div{
      text-align: center;

    }
  }