/* You can add global styles to this file, and also import other style files */
:root{
    background-color: rgba(255, 255, 255, 0.795);
}

body{
margin:20px
} 

*{
    margin: 0;
    border:1px solid rgba(250, 15, 15, 0);
}

