/* You can add global styles to this file, and also import other style files */
:root{
    color-scheme: light dark ; /*colores por defecto a nivel del navegador */
}

body{
margin:20px
} 

*{
    margin: 0;
    border:1px solid rgba(250, 15, 15, 0)
}