*{
    margin: 0%;
    
}
iframe{
    border-radius: 5px;
    width: 99%;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container {
    background: #ffea01a1;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}
span{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:rgb(0, 0, 0);
}
button{
    margin: 5px;
    background-color:rgba(0, 0, 0, 0.896) ;
    color: white;
    border-radius: 18px;
}
p{  
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: 25;
    margin: 20px 0px;
    color: #57439a;
  }
@media only screen and (max-width: 767px) {
    .popup-overlay {
        align-items: center; 
    }

    .popup-container {
        margin-top: auto; 
    }
    p{  
        font-family: 'JetBrains Mono', monospace;
        font-weight: lighter;
        font-size: 15;
        margin: 0px;
        text-align: center;
      }
}